
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700');
/*************************
  GENERAL STYLES
*************************/

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  color: white;
  background-color: #247BA0;
}

section {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

hr {
  border: none;
  border-top: 5px solid #F58F29;
  width: 140px;
  margin-bottom: 5rem;
}

p {
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

li {
  list-style: none;
}

/*************************
  CONTAINERS
*************************/

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  width: 100%;
  max-width: 600px;
}

/*************************
  REUSABLE CLASSES
*************************/

.ease-color {
  transition: color 0.3s ease;
}

.text-center {
  text-align: center;
}

.section-title {
  font-size: 3rem;
  margin-top: 0;
}

.secondary-title {
  font-size: 2.2rem;
  margin-top: 0;
}

/*************************
  PALETTE
*************************/

.bg-color-dark {
  background-color: #247BA0;
}

.bg-color-light {
  background-color:#FAFFFD;
}

.txt-dark {
  color: #222;
}

/*************************
  HEADER
*************************/

header {
  height: 100vh;
  max-height: 1100px;
  min-height: 400px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  position: relative;
}

.header-content {
  text-align: center;
}

.header-content h1 {
  font-size: 5rem;
  margin-bottom: 0.5rem;
}

.header-content h3 {
  font-size: 2.6rem;
  font-weight: 400;
  margin-top: 0;
}

.main-nav {
  transition: all 0.3s ease;
}

.main-nav.locked {
  background-color: #247BA0;
  box-shadow: 0 1px 8px rgba(0,0,0,0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.nav-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.nav-link {
  display: block;
  text-align: center;
  padding: 1rem;
  font-size: 1.6rem;
}

.nav-link:link,
.nav-link:visited {
  color: #fff;
}

.nav-link:hover,
.nav-link:active {
  color: #F58F29;
}

.header-arrow {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.arrow-link:link,
.arrow-link:visited {
  color: white;
}

.header-arrow .fa-angle-down {
  font-size: 5rem;
}


/*************************
  ABOUT
*************************/

.about-me {
  margin-bottom: 3rem;
}

.about-me p {
  font-size: 1.6rem;
}

.skill-icon-box {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  text-align: center;
}

.about-skills .skill-box {
  margin: 1rem;
  display: inline-block;
}

.about-skills .skill-box i {
  font-size: 5rem;
  background-color: #FAFFFD;
}

.skill-pill {
  position: relative;
  bottom: 15px;
  font-size: 2.2rem;
  padding: 0.8rem;
  color: white;
  border-radius: 8px;
}

.skill-json {
  background-color: #222;
}

.skill-ajax {
  background-color: #4ECDC4;
}

.about-col {
  margin-left: auto;
  margin-right: auto;
}

/*************************
  PROJECTS
*************************/

.project-box {
  width: 100%;
  height: auto;
  margin-bottom: 4rem;
  border-radius: 5px;
  
}

.project-box-header {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1px;
  padding-bottom: 1px;
}

.project-box-header h3 {
  font-size: 2.4rem;
  text-align: center;
}

.img-box {
  padding: 0;
  margin: 0;
  position: relative;
}

.img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 5px;
}

.project-summary {
  text-align: center;
}

.project-summary p {
  font-size: 1.4rem;
  margin-bottom: 3rem;
}

.project-summary p a {
  color: #F58F29;
}

.project-summary a {
  font-weight: bold;
}

.page-link {
  font-size: 1.6rem;
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 1rem 1.5rem;
  transition: all 0.3s ease;
}


.page-link:link,
.page-link:visited {
  color: #fff;
}

.page-link:focus,
.page-link:hover,
.page-link:active {
  color: #F58F29;
  border-color: #F58F29;
}




/*************************
  CONTACT
*************************/

.contact-col a:link,
.contact-col a:visited {
  color: #222;
}

.contact-col a:focus,
.contact-col a:hover,
.contact-col a:active {
  color: rgba(0,0,0,.5);
}

.email-col {
  margin-bottom: 4rem;
}

.email-col a {
  font-size: 2rem;
}

.dev-col li {
  display: inline-block;
  margin: 0 1.5rem;
}
.dev-col a {
  font-size: 3.4rem;
}


/*************************
  FOOTER
*************************/

footer {
  padding: 2rem 0;
}

footer h4 {
  font-size: 1.4rem;
  margin: 0;
}


/*************************
  MEDIA QUERIES
*************************/

@media screen and (min-width: 350px) {

  /*************************
    HEADER
  *************************/

  .nav-link {
    margin: 0 5px;
    padding: 1.5rem 2rem;
  }

}

@media screen and (min-width: 920px) {

  /*************************
    CONTAINER
  *************************/
  .container {
    width: 90%;
    max-width: 1100px;
  }


  /*************************
    ABOUT
  *************************/

  .about-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .about-col {
    width: 50%;
    margin-bottom: 0;
    margin-left: initial;
    margin-right: initial;
  }

  .about-col:first-child {
    margin-right: 2.5%;
  }

  .about-col:last-child {
    margin-left: 2.5%;
  }

  .about-skills .skill-box i {
    font-size: 6rem;
  }

  /*************************
    PROJECTS
  *************************/

  .projects-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .project-box {
    width: 48%;
    margin-bottom: 4rem;
  }

  /*************************
    CONTACT
  *************************/

  .contact-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .contact-col {
    width: 48%;
  }
}

@media screen and (min-width: 1200px) {

  /*************************
    CONTAINER
  *************************/

  .container {
    max-width: 1300px;
  }


  /*************************
    PROJECTS
  *************************/
  /*.project-box {
    width: 32%;
    padding: 0;
    margin-bottom: 2.4rem;
  }*/


}

