
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');

/*************************
  GENERAL STYLES
*************************/

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Ubuntu', sans-serif;
  color: white;
  background-color: #4CB0D5;
}

section {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

hr {
  border: none;
  border-top: 5px solid #F58F29;
  width: 140px;
  margin-bottom: 5rem;
}

p {
  line-height: 1.6;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

li {
  list-style: none;
}

/*************************
  CONTAINERS
*************************/

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
}

/*************************
  REUSABLE CLASSES
*************************/

.ease-color {
  transition: color 0.3s ease-in-out;
}

.text-center {
  text-align: center;
}

.section-title {
  font-size: 3rem;
  margin-top: 0;
}

.secondary-title {
  font-size: 2.2rem;
  margin-top: 0;
}

/*************************
  PALETTE
*************************/

header {background-color: #247BA0}
.about {background-color:#FAFFFD}
.projects {background-color:#247BA0}
.contact {background-color:#FAFFFD}
footer {background-color:#247BA0}

.txt-dark {
  color: #222;
}

/*************************
  HEADER
*************************/

header {
  height: 100vh;
  max-height: 1100px;
  min-height: 400px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  position: relative;
}

.header-content {
  text-align: center;
}

.header-content h1 {
  font-size: 5rem;
  margin-bottom: 0.5rem;
}

.header-content h3 {
  font-size: 2.6rem;
  font-weight: 400;
  margin-top: 0;
}

.main-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.nav-link {
  display: block;
  text-align: center;
  padding: 1rem;
  font-size: 1.6rem;
}

.nav-link:link,
.nav-link:visited {
  color: #fff;
}

.nav-link:focus,
.nav-link:hover,
.nav-link:active {
  color: #F58F29;
}

.header-arrow {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.arrow-link:link,
.arrow-link:visited {
  color: white;
}

.header-arrow .fa-angle-down {
  font-size: 5rem;
}


/*************************
  ABOUT
*************************/

.about-me {
  margin-bottom: 3rem;
}

.about-me p {
  font-size: 1.6rem;
}

.skill-icon-box {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.about-skills .skill-box {
  margin: 1rem;
  display: inline-block;
}

.about-skills .skill-box i {
  font-size: 5rem;
}

.about-col {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

/*************************
  PROJECTS
*************************/

.projects-box {
  width: 100%;
}

.projects-box img {
  width: 100%;
  height: 100%;
}

/*************************
  CONTACT
*************************/

.contact-col a:link,
.contact-col a:visited {
  color: #222;
}

.contact-col a:focus,
.contact-col a:hover,
.contact-col a:active {
  color: rgba(0,0,0,.5);
}

.email-col {
  margin-bottom: 4rem;
}

.email-col a {
  font-size: 2rem;
}

.dev-col li {
  display: inline-block;
  margin: 0 1.5rem;
}
.dev-col a {
  font-size: 3.4rem;
}


/*************************
  FOOTER
*************************/

footer {
  padding: 2rem 0;
}

footer h4 {
  font-size: 1.4rem;
  margin: 0;
}


/*************************
  MEDIA QUERIES
*************************/

@media screen and (min-width: 350px) {

  /*************************
    HEADER
  *************************/

  .nav-link {
    margin: 0 5px;
    padding: 1.5rem 2rem;
  }

}

@media screen and (min-width: 768px) {

  /*************************
    CONTAINER
  *************************/
  .container {
    width: 90%;
    max-width: 900px;
  }


  /*************************
    ABOUT
  *************************/

  .about-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .about-col {
    width: 50%;
    padding: 0 2.5%;
    margin-bottom: 0;
  }

  .about-skills .skill-box i {
    font-size: 6rem;
  }

  /*************************
    PROJECTS
  *************************/

  .projects-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .projects-box {
    width: 48%;
    padding: 0.5%;
    margin-bottom: 2.4rem;
  }

  /*************************
    CONTACT
  *************************/

  .contact-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .contact-col {
    width: 48%;
  }
}

@media screen and (min-width: 1100px) {

  /*************************
    CONTAINER
  *************************/

  .container {
    width: 80%;
    max-width: 1200px;
  }


  /*************************
    PROJECTS
  *************************/
  .projects-box {
    width: 32%;
    padding: 0;
    margin-bottom: 2.4rem;
  }


}

